FA2021_Work/xml_files/khScripts_schema_New.rnc

start = xml
xml = element xml {heading, cutscene*}

heading = element heading {meta, gameInfo, sourceDesc}
meta = element meta {editor, dateRange}
editor = element editor {"Austin Murry" | "Cameron Bigi" | "Jesse"}
# ebb: Lots of your rules for attribute values keep a back door open for ANY text (line 6, 12, 13, and 24). Can you safely remove text from any of these rules now if you're sure of all your possible values?
dateRange = element dateRange {from, to, empty}
from = attribute from {xsd:date | xsd:gYearMonth | xsd:gYear}
to = attribute to {xsd:date | xsd:gYearMonth | xsd:gYear}
gameInfo = element gameInfo {gameTitle*, releaseDate, dev*}
dev = element dev {"Square Enix" | "Disney Interactive Studios" | "Disney Interactive Studios Square Enix" | "Buena Vista Games" | "Buena Vista Games Square Enix"}
gameTitle = element gameTitle {"Kingdom Hearts" | "Kingdom Hearts I" | "Kingdom Hearts II" | "Kingdom Hearts II.9" | "Kingdom Hearts III"}

releaseDate = element releaseDate {text}
sourceDesc = element sourceDesc {creator, source}
creator = element creator {"DJ Firewolf"}
source = element source {ref, empty}
ref = attribute ref {text}

cutscene = element cutscene {type?, cutNum?, location?, title*, (sp | desc | dev |  gameTitle)*}
type = attribute type {"Normal" | "Gameplay" | "Special Ending" | "Opening"}
cutNum = attribute cutNum {xsd:integer}
location = attribute location {"100AcreWoods" | "Agrabah" | "AnsemsStudy" | "Arendelle" | "Atlantica" | "BaldMountain" | "BeastsCastle" | "BlackPearl" | "CandyKingdom" | "CastleOblivion" | "CastleofDreams" | "CastleThatNeverWas" | "ChamberofReposeandWaking" | "ChristmasTown" | "CountryoftheMusketeers" | "CornerstoneHill" | "CrumblingIsland" | "Cy-bugSector" | "DarkMargin" | "DarkMeridian" | "Datascape" | "DaybreakTown" | "DeepJungle" | "DeepSpace" | "DestinyIslands" | "DisneyCastle" | "DisneyTown" | "DivetotheHeart" | "DoortoLight" | "DoortoDarkness" | "DwarfWoodlands" | "ElephantGraveyard" | "EnchantedDominion" | "EndoftheWorld" | "FinalRest" | "GameCentralStation" | "GummiShipControlRoom" | "HallofEmptyMelodies" | "HallofCornerstones" | "HalloweenTown" | "HollowBastion" | "Interspace" | "IsladeMuerta" | "Jungle" | "KeybladeGraveyard" | "KingdomHearts" | "KingdomofCorona" | "LaCiteDesCloches" | "LandofDeparture" | "MerlinsHouse" | "MirageArena" | "Monstro" | "Monstropolis" | "MysteriousTower" | "Neverland" | "Niceland" | "OldMansion" | "Olympus" | "OlympusColiseum" | "OogiesManor" | "Peak" | "PortRoyal" | "PortalofDarkness" | "PrankstersParadise" | "PrideLands" | "PrideRock" | "Quadratron" | "RadientGarden" | "RealmofDarkness" | "RealmofInBetween" | "RealmofLight" | "RisingFalls" | "SanFransokyo" | "ScalaAdCaelum" | "SevenWonders" | "SimulatedTwilightTown" | "SpaceParanoids" | "StationofAwakening" | "StationofSerenity" | "SwordmanIsland" | "SymphonyofSorcery" | "TheCaribbean" | "TheFinalWorld" | "TheGrid" | "TheLandofDragons" | "TheWorldThatNeverWas" | "TimelessRiver" | "ToyBox" | "TraverseTown" | "TwilightTown" | "Underdome" | "Underworld" | "Unknown" | "VillainsVale" | "Wastelands" | "Waterway" | "Wharf" | "WildbeestValley" | "WindowtothePast" | "Wonderland"}
title = element title {text}
desc = element desc {mixed{ (dev | gameTitle | q)* }}
sp = element sp {speaker, mixed{ (desc | q)* }}
speaker = element speaker {text, desc?}
# ebb: I wonder if we want to try controlling these values for speaker? I remember the mystery speakers being significant with their distinct numbers of question marks. 
# Could we try outputting a list of distinct values of your <speaker> elements and sort them alphabetically? That would help us to see if any are misspelled first of all, and then
# maybe give us a basis for a controlled listing of text values here (or via Schematron). We could literally incorporate them here in the Relax NG, though. 
q = element q {text}